// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
  table {
    border: 1px solid black;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;

    td{
      align: center;
    }
  }

  .list_description {

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
      text-align:center
    }
  }
  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }

  .list_line_odd {
    background: #A4BAA9;
  }

  .list_line_even {
    background: #D9E3C8;
  }
}