// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
  width: 70%;
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #224444;
    border-bottom: 3px dotted #666666;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  table{
    thead{
      vertical-align:middle;
      text-align:left;
    }

    .list_even{
      background-color:#FFC0C0;
    }
    .list_odd{
      background-color:#FFE3E3;
    }
    .list_completed{
      background-color:#D9E3C8;
      color: #666666;
    }

  }

  h3 {
    font-size: 120%;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 2px;
    color: #224444
  }

  p, div.task_actions {
    margin-left: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
  }

}